<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Addition</h1>
<form action="add/"method="get">
    <input type="text"name="num1"placeholder="number1">
    <input type="text"name="num2"placeholder="number2">
    <input type="submit">
</form><br>
<h1>Subtraction</h1>

    <form action="sub/"method="get">
    <input type="text"name="num1"placeholder="number1">
    <input type="text"name="num2"placeholder="number2">
    <input type="submit">
</form>

</form><br>
<h1>Mulitiplication</h1>

    <form action="mul/"method="get">
    <input type="text"name="num1"placeholder="number1">
    <input type="text"name="num2"placeholder="number2">
    <input type="submit">
</form>

</form><br>
<h1>Division</h1>

    <form action="div/"method="get">
    <input type="text"name="num1"placeholder="number1">
    <input type="text"name="num2"placeholder="number2">
    <input type="submit">
</form>
</body>
</html>